CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# build files
build/
cmake-build-debug/
.idea/
.git/
resource/
res1/*.jpg
res2/*.jpg
*.zip




